@keyframes playTrack {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

@keyframes resetRotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotate360 {
    transform: rotateZ(360deg);
    transition: 1s;
}

button.muteOn {
    background-color: #7b7b7b;
    color: #fff;
}
